body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    touch-action: manipulation;
    font-display: monospace;
}

button{
    margin: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    outline: 4px;
    outline-style: solid;
    border-radius: 0px;
    background-color: transparent;
    width: 115px;
    height: 75px;
    border-style: hidden;
    touch-action: manipulation;
}