body{
    margin: 0%;
    background-color: black;
}

.gridContainer{
    position: fixed;
}

.man{
    position: fixed;
    background-image: url('char/man.png');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    z-index: 100;

    transition: 0.5s cubic-bezier(.18,0,.79,1);
}