body{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.icon{
    width: 75px;
}

.outerBox{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.innerBox{
    background-color: lightgray;
    width: max-content;
}

.boxImg{
    margin-bottom: 0%;
    margin-bottom: 8px;
    width: 100%;
}

.topBar{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: lightgray;
}

.topBarBox{
    width: max-content;
}