body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    touch-action: manipulation;
}

button {
    width: 27.5%;
    border-radius: 10px;
    border-style: hidden;
    touch-action: manipulation;

    background-color: rgba(211, 211, 211, 0.5);
}

div {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}