@font-face {
    font-family: HeadingNowVariable;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url(font/HeadingNowVariable-IJONJUZC.woff2) format("woff2");
}

* {
    font-family: 'HeadingNowVariable', monospace;
    font-weight: 700;
    font-variation-settings: "wdth" 300, "wght" 700;
}

@keyframes ash {
    0%   {filter: invert(0.5) brightness(2)}
    100% {filter: invert(0) brightness(1)}
}

button {
    padding: 0%;
    border: none;
    background-color: #111;
    color: white;

    border-radius: 100px;

    transition: all 0.25s;
}

button:hover {
    background-color: white;
    color: black;
}

.deltabutton {
    transition: width 2s;
}