* {
    margin: 0;
    padding: 0;
}

@keyframes bgScroll {
    0% {background-position: 0px 0px;}
    100% {background-position: 800px 800px;}
}

body {
    font-family: monospace;
    text-align: center;
    margin: 0%;

    background-image: url('img/PastelPassage.png');
    animation: bgScroll 120s infinite linear;
}

summary:hover {
    cursor: pointer;
}

details {
    animation: bgScroll 60s infinite linear;
}

details:hover {
    mix-blend-mode: difference;
    background-image: url('img/GrayDient.png');
}

@keyframes ngEntice {
    0% {outline-color: orangered;}
    50% {outline-color: lightsalmon;}
    100% {outline-color: orangered;}
}

.ngButton{
    border-radius: 5px;
    transition: background-color 0.25s;
    outline: 2px solid;
    outline-color: orangered;
    margin: 8px;

    animation: ngEntice 2s ease infinite;
}

.ngButton:hover{
    background-color: orangered;
    animation: none;
    cursor: pointer;
}

.eonPrestige:hover {
    cursor: pointer;
}

.achievement:hover {
    cursor: pointer;
}

.clock {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 20px solid black;
    border-radius: 50%;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 10px black;
    z-index: 100;
}

.clock2 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-color: white;
}

.knob {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.dots {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    left: 50%;
    top: calc(200px - 145px);
    z-index: 89;
    transform: translateX(-50%);
    box-shadow: 140px 145px 0 0 black, -140px 145px 0 0 black, 0 280px 0 0 black;
}

.second {
    position: absolute;
    content: '';
    height: 140px;
    width: 5px;
    background: red;
    top: 200px;
    left: calc(50% - 2.5px);
    transform-origin: top;
    z-index: 99;
}

.minute {
    position: absolute;
    content: '';
    height: 130px;
    width: 10px;
    background: black;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 98;
}

.hour {
    position: absolute;
    content: '';
    height: 120px;
    width: 10px;
    background: black;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 97;
}

.day {
    position: absolute;
    content: '';
    height: 110px;
    width: 10px;
    background: black;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 96;
}

.week {
    position: absolute;
    content: '';
    height: 100px;
    width: 10px;
    background: black;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 95;
}

.month {
    position: absolute;
    content: '';
    height: 90px;
    width: 10px;
    background: black;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 94;
}

.year {
    position: absolute;
    content: '';
    height: 80px;
    width: 10px;
    background: black;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 93;
}

.decade {
    position: absolute;
    content: '';
    height: 70px;
    width: 10px;
    background: black;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 92;
}

.century {
    position: absolute;
    content: '';
    height: 60px;
    width: 10px;
    background: black;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 91;
}

.millennia {
    position: absolute;
    content: '';
    height: 160px;
    width: 20px;
    background: gray;
    top: 200px;
    left: calc(50% - 10px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 90;
}

.eonsecond {
    position: absolute;
    content: '';
    height: 140px;
    width: 5px;
    background: purple;
    top: 200px;
    left: calc(50% - 2.5px);
    transform-origin: top;
    z-index: 89;
}

.eonminute {
    position: absolute;
    content: '';
    height: 130px;
    width: 10px;
    background: cyan;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 88;
}

.eonhour {
    position: absolute;
    content: '';
    height: 120px;
    width: 10px;
    background: cyan;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 87;
}

.eonday {
    position: absolute;
    content: '';
    height: 110px;
    width: 10px;
    background: cyan;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 86;
}

.eonweek {
    position: absolute;
    content: '';
    height: 100px;
    width: 10px;
    background: cyan;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 85;
}

.eonmonth {
    position: absolute;
    content: '';
    height: 90px;
    width: 10px;
    background: cyan;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 84;
}

.eonyear {
    position: absolute;
    content: '';
    height: 80px;
    width: 10px;
    background: cyan;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 83;
}

.eondecade {
    position: absolute;
    content: '';
    height: 70px;
    width: 10px;
    background: cyan;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 82;
}

.eoncentury {
    position: absolute;
    content: '';
    height: 60px;
    width: 10px;
    background: cyan;
    top: 200px;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 81;
}

.eonmillennia {
    position: absolute;
    content: '';
    height: 160px;
    width: 20px;
    background: lightcyan;
    top: 200px;
    left: calc(50% - 10px);
    border-radius: 5px;
    transform-origin: top;
    z-index: 80;
}

@keyframes spin {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}