body {
    transition: 0.5s all;

    margin: 0%;
    overflow-x: hidden;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    user-select: none;
}

.header {
    background-color: lightgray;

    height: 412px;

    background-image: url("../img/homebg.png");
    background-size: cover;
}

.header-bar {
    background-image: url("../img/marqueeback.png");
    outline: 1px black solid;

    height: 64px;

    position: sticky;
    top: 0%;

    display: flex;

    user-select: none;
}

.header-group {
    display: flex;
    background-color: #fffb;
    outline: 1px black solid;

    height: 64px;
}

.header-icon {
    height: 64px;

    cursor: pointer;
}

.lghtdark-icon {
    border-radius: 100%;
}

.lghtdark-icon:hover {
    animation: settings-spin 1s ease 1;
}

.dyslexic-icon:hover {
    animation: dyslexia-shift 1s linear infinite;
}

.settings-icon {
    border-radius: 100%;
}

.settings-icon:hover {
    animation: settings-spin 1s ease 1;
}

@keyframes settings-spin {
    0% {rotate: 0deg; filter: blur(0px);}
    50% {filter: blur(1px);}
    100% {rotate: 360deg; filter: blur(0px);}
}

@keyframes dyslexia-shift {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg);}
}

.points {
    height: 100%;
    width: max-content;

    margin: 0%;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;

    line-height: 60px;

    color: black;

    font-size: xx-large;
}

.login {
    width: 64px;
    font-size: 16px;
    line-height: 64px;
}

.signup {
    width: 64px;
    font-size: 16px;
    line-height: 64px;
}

.animal-marquee {
    line-height: 86px;
    /*Animal emoji look like they're walking on the bottom of the marquee at 86px. Vertically centered at 60px*/

    font-size: xx-large;
    font-family: cursive;

    /*animation: animal-bob 0.5s infinite linear;*/

    background-color: white;
    background-image: url("../img/marqueeback.png");

    overflow: hidden;
}

@keyframes animal-bob {
    0% {line-height: 86px;}
    50% {line-height: 80px;}
    100% {line-height: 86px;}
}

@keyframes animal-scroll {
    0% {left: 100%;}
    100% {left: -64px;}
}

@keyframes animal-scroll-reverse {
    0% {left: -64px;}
    100% {left: 100%;}
}

.settingsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
    max-width: 100%;
    margin: auto;

    column-gap: 8px;

    text-align: right;
}

.checkbox {
    width: max-content;
}

h3 {
    text-align: center;
    margin-bottom: 0%;

    width: 100%;
}

.settingsText {
    margin: 0%;
}

button {
    font-family: inherit;
    font-size: inherit;
}

details {
    text-align: center;
}

hr {
    width: 90%;
    margin: auto;
}

.settings-miniwindow {
    transition: 1s all;

    width: 0px;
    height: 0px;

    margin-left: 0px;
    margin-top: 65px;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: inherit;

    border-radius: 0% 0% 0% 100px;
    outline: 1px black solid;

    z-index: -1;
}

summary {
    display: flex;

    width: 100%;
}

.animal {
    color: black;
}