body{
    margin: 0px;
    overflow: hidden
}

.background{
    position: absolute;
    height: 100%;
    width: 200%;
    background-image: url("https://art.ngfiles.com/images/3167000/3167692_waspventman_cpu-overheat.png?f1682140027");
    background-size: contain;
}

.leftControl{
    position: fixed;
    height: 100vh;
    width: 10%;
    background-color: black;
    z-index: 1;
}

.rightControl{
    position: fixed;
    right: 0%;
    top: 0%;
    height: 100vh;
    width: 10%;
    background-color: black;
    z-index: 1;
    
}