body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 0%;
    background-color: black;
    image-rendering: pixelated;
}

.gridContainer{
    position: fixed;
    
}

.invContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0008;
    z-index: 200;

    visibility: hidden;
}

.inventory{
    display: flex;
    background-color: #fff;
}

.stats{
    display: inline-block;
    width: 25%;
    height: 100%;
    background: lightgrey;
    outline: 2px black solid;
}

.icon{
    width: 256px;
    height: 256px;
}

.text{
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;

    font-size: 16px;
}

.man{
    position: fixed;
    background-image: url('char/man.png');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    width: 56px;
    height: 56px;
    z-index: 100;
    
    visibility: visible;
}

.cast{
    position: fixed;
    background-image: url('char/cast.png');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    z-index: 99;

    visibility: hidden;
}

.splash{
    position: fixed;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    z-index: 100;

    visibility: visible;
}

.textNotif{
    position: fixed;
    font-size: 25px;
    z-index: 175;
    margin: 0%;

    color: white;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    transition: opacity 0.25s ease;
    opacity: 0;
}

/* Style the tab */
.tab {
    overflow: hidden;
    width: max-content;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    padding: 14px 16px;
    margin: 4px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

.light{
    position: fixed;
    z-index: 150;
}

.time{
    position: fixed;
    margin: 8px;
}